html{
    position: relative;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
#header {
    position: relative;
    background-color: #d9230e;
    height: 90px;
   
}
#header .header-wrappar{
    position: relative;
}
#header .header-wrappar .log{
    position: relative;
    display: inline-block;    

}
#header .header-wrappar .log > ul{
    position: relative;
    display: inline;
    line-height: 48%;
}
#header .header-wrappar .log > ul > li{
    position: relative;
    display: inline-block;
    
}
#header .header-wrappar .log > ul > li > img{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
}
#header .header-wrappar .log > ul > li > span{
    position: relative;
    font-family: cursive;
    color:#ffffff; 
    font-size: 27px; 
}
#header .header-wrappar .log > ul > li > p{
    position: relative;
    font-family: cursive;
    color: #ffffff;    
}
#header .header-wrappar .navbar{
    position: relative;
    float: right;
    
    
}
#header .header-wrappar .navbar > ul{
    position: relative;
    display: inline;
}
#header .header-wrappar .navbar > ul > li{
    position: relative;
    display: inline-block;
    padding: 35px;
    color: #ffffff;
}
#header .header-wrappar .navbar > ul > li > button{
    position: relative;
    display: inline-block;
    border-radius: 10%;
    height: 35px;
    width: 120px;
    color: #d9230e;
    background-color: #ffffff;
    
}

#header2 {
    position: relative;
    background-color:#c51a08;
    height: 60px;
    line-height: 35%;
}
#header2 .header2-wrappar{
    position: relative;

}
#header2 .header2-wrappar .navbar{
    position: relative;
    float: left;   
}
#header2 .header2-wrappar .navbar > ul{
    position: relative;
    display: inline;
}
#header2 .header2-wrappar .navbar > ul > li{
    position: relative;
    display: inline-block;
    padding: 26px;
    color: #ffffff;
}

#slider{
    position: relative;
    background-image: url('../img33.jpg');
    height: 600px;
    width: 100%;
}
#slider .slider-wrapper{
    height: 500px;
    position: relative;    
    
}
#slider .slider-wrapper .slider-heading > h2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
   
}
#slider .slider-wrapper .slider-heading > hr{
    color: #ffffff;
    width: 47px;
    border: 2px solid;
    position: absolute;
    top: 53%;
    left: 63%;
    transform: translate(-50%, -50%);
}
#slider .slider-wrapper .slider-para > p{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 74%;
    /*transform: translate(-50%, -50%);
    */
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: 1rem;
    line-height: 2rem;
}
#slider .slider-wrapper .slider-button > .btn1{
   
    position: absolute;
    top: 85%;
    left: 68%;
    /*transform: translate(-50%, -50%);*/
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 2rem;
    color: #ffffff;
    font: unset;
    height: 35px;
    width: 150px;
    background-color: #c51a08;
}
#slider .slider-wrapper .slider-button > .btn2{
   
    position: absolute;
    top: 85%;
    left: 80%;
   
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 2rem;
    color: #c51a08;
    font: unset;
    height: 35px;
    width: 120px;
    background-color: #ffffff;
}
#about{
    position: relative;
    height: 500px;
    width: 100%;
    background-color: darkgoldenrod;
}
#about .about-wrapper{
    height: 500px;
    position: relative;    
    
}
#about .about-wrapper .about-heading > h2{
    margin: 0;
    position: absolute;
    top: 21%;
    left: 70%;
    color: black;
 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.6rem;
   
}
#about .about-wrapper > img{
    margin: 0;
    position: absolute;
    top: 28%;
    left: 20%;
    color: #d9230e;
  
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#about .about-wrapper .about-para > p{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 70%;
 
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
}
    
#about .about-wrapper .about-button .btn2{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 70%;
  
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    background-color: #d9230e;
    
}
#travel{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: darkkhaki;
}
#travel .travel-wrapper{
    height: 500px;
    position: relative;    
    
}
#travel .travel-wrapper .travel-heading > h2{
    margin: 0;
    position: absolute;
    top: 21%;
    left: 50%;
    color: #454545;
    
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
   
}

#travel .travel-wrapper .travel-para > p{
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
  
    color: #7d7d7d;
    text-transform: lowercase;
    font-size: 15px;
    line-height: 2rem;
}

#travel .travel-wrapper .img-box .img-1{

    margin: 0;
    display: inline;
    position: absolute; 
    top: 45%;
    left: 60%;
    color: #d9230e;
  
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#travel .travel-wrapper .img-box .img-2{
    margin: 0;
    display: inline;
     position: absolute; 
     top: 45%;
     left: 40%;
     color: #d9230e;
 
     font-weight: bold;
     text-transform: uppercase;
     font-size: 1.5rem;
   
}
#travel .travel-wrapper .img-box .img-3{
      margin: 0;
     display: inline;
     position: absolute; 
     top: 45%;
     left: 20%;
     color: #d9230e;
  
     font-weight: bold;
     text-transform: uppercase;
     font-size: 1.5rem;
   
}

#travel .travel-wrapper .names{
    position: relative;
    display: flex; 
    top: 100%;
    left: 30%;

   
}
#travel .travel-wrapper .names .heading-one {
    margin: 0;
    position: absolute; 
    top: 90%;
    left: 35%;
 
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#travel .travel-wrapper .names  .heading-two{
    margin: 0;
    position: absolute; 
    top: 90%;
    left: 10%;
    color:black;
   
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#travel .travel-wrapper .names  .heading-three{
    margin: 0;
     position: absolute; 
    top: 90%;
    left: -5%;
    color:black;
   
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#travel .travel-wrapper .travel-button{
    position: relative;
    display: flex; 
    top: 108%;
    left: 30%;
    border-radius: 15%;

   
}
#travel .travel-wrapper .travel-button .btn2 {
    margin: 0;
    position: absolute; 
    top: 100%;
    left: 33%;
    border-radius: 15%;
   /* transform: translate(-50%, -50%); */
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #309f02;
    height: 35px;
    width:100px;
    border-radius: 15%;
   
}

#travel .travel-wrapper .travel-button .btn3  {
    margin: 0;
    position: absolute; 
    top: 100%;
    left: 11%;
    height: 35px;
    border-radius: 15%;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #309f02;
    width:100px;
   
}

#travel .travel-wrapper .travel-button .btn4  {
    margin: 0;
    position: absolute; 
    top: 140%;
    left: -8%;
    height: 35px;
    border-radius: 15%;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #309f02;
    width: 100px;
   
}
#travel .travel-wrapper .img {
    margin: 0;
    position: absolute; 
    top: 140%;
    left: 42%;
   
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #309f02;
   
}
#connect{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #c91b1b;
}
#connect .connect-wrapper{
    height: 500px;
    position: relative;    
    
}
#connect .connect-wrapper .connect-heading > h2{
    margin: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    color: #454545;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
   
}
#connect .connect-wrapper .connect-para > p{
    margin: 0;
    position: absolute;
    top: 17%;
    left: 50%;
  
    color: #7d7d7d;
    text-transform: lowercase;
    font-size: 15px;
    line-height: 2rem;
}
#connect .connect-wrapper .img-box2 .img-1{
    margin: 0;
   display: inline;
   position: absolute; 
   top: 26%;
   left: 20%;
   color: #d9230e;

   font-weight: bold;
   text-transform: uppercase;
   font-size: 1.5rem;
 
}

#places{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #f1f1f1;
    background-image: url('../slider.jpg');
}
#places .-wrapper{
    height: 500px;
    position: relative;    
    
}

#places .places-wrapper .places-heading > h2{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 25%;
    color: beige;
  
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
   
}

#places .places-wrapper .places-para > p{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 27%;
  
    color: beige;
    text-transform: lowercase;
    font-size: 22px;
    line-height: 2.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#places .places-wrapper .places-button .btn2 {
    margin: 0;
    position: absolute; 
    top: 42%;
    left: 10%;
   
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color:  #ffffff;
    padding: 17px;
    border-radius: 10px;
   
}


#purchase{
    position: relative;
    height: 800px;
    width: 100%;
    display: inline-block;
    grid-template-columns: 350px 350px 350px;
    background-color:rgb(247, 84, 35);
}
#purchase .purchase-wrapper{
    height: 500px;
    position: relative;    
    
}
#purchase .purchase-wrapper .purchase-heading > h2{
    margin: 0;
    position: absolute;
    top: 21%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
   
}
 

#purchase .purchase-wrapper .purchase-para > p{
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-transform: lowercase;
    font-size: 20px;
    line-height: 2rem;
}
#purchase .purchase-wrapper .img2-box .img1{

    margin: 0;
    display: inline;
    position: absolute; 
  
    top: 45%;
    left: 60%;
    color: #d9230e;
  
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
   
}
#purchase .purchase-wrapper .img2-box .img2{
    margin: 0;
    display: inline;
     position: absolute; 
     top: 45%;
     left: 40%;
     color: #d9230e;
   
     font-weight: bold;
     text-transform: uppercase;
     font-size: 1.5rem;
   
}
#purchase .purchase-wrapper .img2-box .img3{
      margin: 0;
     display: inline-block;
     position: absolute; 
     top: 45%;
     left: 20%;
     color: #d9230e;
    /* transform: translate(-50%, -50%); */
     font-weight: bold;
     text-transform: uppercase;
     font-size: 1.5rem;
   
}
#purchase .purchase-wrapper .items{
    position: relative;
    display: flex; 
    top: 120%;
    left: 30%; 
}

#purchase .purchase-wrapper .items .itemone {
    margin: 0;
    position: absolute; 
    top: 90%;
    left: 35%;
  
    color:black;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.0rem;
   
}
#purchase .purchase-wrapper .items  .itemtwo{
    margin: 0;
    position: absolute; 
    top: 90%;
    left: 10%;
    color:black;
    /* transform: translate(-50%, -50%); */
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.0rem;
   
}
#purchase .purchase-wrapper .items  .itemthree{
    margin: 0;
     position: absolute; 
    top: 90%;
    left: -20%;
    color:black;

    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.0rem;
   
}
#purchase .purchase-wrapper .purchase-button{
    position: relative;
    display: flex; 
    top: 108%;
    left: 30%;
    border-radius: 15%;
   

   
}
#purchase .purchase-wrapper .purchase-button .details1 {
    margin: 0;
    position: absolute; 
    top: 100%;
    left: 33%;
    border-radius: 15%;
  
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
   
}

#purchase .purchase-wrapper .purchase-button .details2  {
    margin: 0;
    position: absolute; 
    top: 100%;
    left: 11%;
   
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
   
}

#purchase .purchase-wrapper .purchase-button .details3  {
    margin: 0;
    position: absolute; 
    top: 90%;
    left: -8%;
   
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
   
}
#purchase .purchase-wrapper .purchase-button .moreproducts  {
  
    position: absolute; 
    margin:0;
    left: 10%;
    top:120;

    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    background-color: rgb(1, 19, 19);
    height: 45px;
    border-radius: 10%;
   
}


input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
   background-color: #1bc9ba;
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.destinationpics h2{
    text-transform: capitalize;
    text-align: center;
    background-image: url("../img33.jpg");
    width: 100%;
    height: 500px;
    font-size: 3.2 rems;
    font-family: cursive;
   
 
   

}
.destinationpics{
    background-color: darkgrey;
    position: relative;
}
.destinationpics button{
    height: 40px;
    width: 140px;
    border-radius: 10px;
}

#downloads{
    position: relative;
    height: 500px;
    width: 100%;
 
    background-image: url("../advent.jpg");
}
#downloads .download-wrappar{
    height: 500px;
    width: 100%;
    position: relative;    
   
    
}
#downloads .download-wrappar  > h2{
    margin: 0;
    position: absolute;
    top: 21%;
    left: 48%;
    color: black;
 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
   
}
#downloads .download-wrappar > img{
    margin: 0;
    position: absolute;
    top: 28%;
    left: 20%;
    color: #d9230e;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
  
    font-weight: bold;
    text-transform: uppercase;
  
}
#downloads .download-wrappar .dpara{
   top: 35%;
   left: 48%;
   position: absolute;
   font-size: 1.7rem;
   margin: 0;

   
}
    
#downloads .download-wrappar .downloadBtn > button{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
  
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    background-color: #d9230e;
    height: 2.5rem;
    width: 9.5rem;

}
#sponsors{
    background-color: white;
    text-align: center;
    position: relative;
    top: 40%;
    text-transform: capitalize;
    width: 100%;
    height: 500px;
}
#sponsors .sponsors-wrapper .logos-box{
    top: 55%;
    position: relative;
  
    
}

#copyrights{
    background-color: rgb(245, 16, 16);
    color: black;
    font-size: 1.2rem;
   
    font-family: 'Times New Roman', Times, serif;
    height: 2.8rem;
    
}
